@import "../variables";

:host * {
    /*
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
    white-space: normal;
    font-family: Arial, Helvetica;
    font-size: 16px;
    visibility: visible!important;
}

mjx-container,
mjx-container *,
math,
math * {
    font-size: 16px!important;
    line-height: 30px!important;
}

.mai_back {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 19, 19, 0.7);
    overflow-y: auto;

    button {
        margin: unset;
        padding: unset;
        background-color: unset;
        border: unset;
    }

    .dialog {
        width: 500px;
        background-color: $white-color;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: $blue1-color;

            .left {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .logo {
                    width: 28px;
                    height: 28px;
                }
        
                .title {
                    font-size: 18px;
                    color: $white-color;
                    margin-left: 7px;
                }
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .cross {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }

        .content-wrap {
            padding: 10px;

            .hidden-content {
                display: none;
            }

            .content {
                padding: 20px 20px;
                font-size: 16px;
                line-height: 30px;
                overflow-y: auto;
                max-height: 200px;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(241, 241, 240, 1);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(191, 191, 191, 1);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: rgb(105, 105, 105);
                }
            }
        }
    }

    .green-block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        background-color: $green1-color;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .rate-block {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            flex-grow: 0;
            flex-shrink: 0;

            .text {
                font-size: 14px;
                line-height: 16.5px;
                font-weight: bold;
            }

            .star-row {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 3px;

                .star {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                    svg {
                        path {
                            fill: $grey1-color;
                            transition: .3s;
                        }
                    }

                    &.hover,
                    &.active {
                        svg {
                            path {
                                fill: $yellow1-color;
                            }
                        }
                    }

                    &.unhover {
                        svg {
                            path {
                                fill: $grey1-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .upload-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        width: 100%;

        img {
            object-fit: contain;
            height: 100px;
            width: 100%;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
    }


    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 13px;
        border-radius: 6px;
        background-color: $blue1-color;
        cursor: pointer;
        transition: .3s;

        &:hover,
        &:active {
            background-color: $blue2-color;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            svg {
                width: 19px;
                height: auto;
            }
        }

        .text {
            color: $white-color;
            font-size: 14px;
            line-height: 16.5px;
            margin-left: 5px;
        }


        &.copy-btn {
            background-color: $green-btn1-color;

            &:hover,
            &:active {
                background-color: $green-btn2-color;
            }
        }
    }
}

.hidden {
    display: none;
}