@import "variables";

* {
    font-family: Arial;
}

html {
    overflow: hidden;
}

body {
    margin: 0px !important;
    height: 99999px;
    max-height: 100%;
}

button {
    margin: unset;
    padding: unset;
    background-color: unset;
    border: unset;
}

.loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;

    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    .text {
        margin-top: 20px;
        font-size: 17px;
        line-height: 19.5px;
        color: $white-color;
        text-align: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    width: 100%;
}

.footer {
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 15px 15px;
    width: 100%;
    background-color: $blue1-color;
    box-sizing: border-box;

    .description {
        font-size: 14px;
        line-height: 16.4px;
        width: 100%;
        color: $grey1-color;
    }
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;

    label {
        .radio-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            background-color: transparent;
            transition: .3s;
            cursor: pointer;

            .icon {
                circle.outer {
                    stroke: $purple1-color;
                }

                circle.inner {
                    stroke: transparent;
                    fill: transparent;
                }
            }

            .title {
                margin-left: 5px;
                margin-top: 2px;
                font-size: 17px;
                line-height: 19.5px;
                font-weight: 500;
                color: $white-color;
            }
        }


        input[type=radio] {
            display: none;

            &:checked~.radio-item {
                .icon {
                    circle.outer {
                        stroke: $green2-color;
                        transition: .3s;
                    }

                    circle.inner {
                        stroke: $green2-color;
                        fill: $green2-color;
                        transition: .3s;
                    }
                }
            }
        }

        &+label {
            margin-top: 10px;
        }
    }
}

.copy-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: $grey2-color;
}

.rate-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $green1-color;
    padding: 15px;

    .text {
        text-align: center;
        font-size: 17px;
        line-height: 19.9px;
        font-weight: 500;
        margin-bottom: 5px;
        width: calc(100% - 100px);
        flex-grow: 0;
        flex-shrink: 0;
    }

    .star-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100px;

        .star {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            cursor: pointer;

            svg {
                path {
                    fill: $grey1-color;
                    transition: .3s;
                }
            }

            &.hover,
            &.active {
                svg {
                    path {
                        fill: $yellow1-color;
                    }
                }
            }

            &.unhover {
                svg {
                    path {
                        fill: $grey1-color;
                    }
                }
            }
        }
    }
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $blue2-color;
    padding: 15px;

    .buttons {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .button-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
    
            &+.button-wrap {
                margin-left: 20px;
            }
    
            .button-tip {
                font-size: 14px;
                line-height: 16.4px;
                margin-top: 5px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .response-error {
        display: none;
        font-size: 16px;
        line-height: 18.5px;
        color: $error-red1-color;
        margin-top: 10px;

        &.show {
            display: block;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 13px;
    height: 40px;
    border-radius: 6px;
    background-color: $green-btn1-color;
    cursor: pointer;
    transition: .3s;

    &:hover,
    &:active {
        background-color: $green-btn2-color;
    }

    &.copy-btn {
        .icon {
            width: 15.5px;
            height: 18.5px;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;

        svg {
            width: 19px;
            height: auto;
        }
    }

    &.screenshot-btn {
        .icon {
            margin-bottom: -5px;
        }
    }

    .text {
        color: $white-color;
        font-size: 17px;
        line-height: 20px;
        margin-left: 5px;
    }
}

.content {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 30px;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(241, 241, 240);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(191, 191, 191);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(105, 105, 105);
    }
}

.hidden-content {
    display: none;
}

.hidden {
    display: none;
}