* {
  font-family: Arial;
}

html {
  overflow: hidden;
}

body {
  margin: 0px !important;
  height: 99999px;
  max-height: 100%;
}

button {
  margin: unset;
  padding: unset;
  background-color: unset;
  border: unset;
}

.loader {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.loader.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.loader .text {
  margin-top: 20px;
  font-size: 17px;
  line-height: 19.5px;
  color: #ffffff;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px 15px;
  width: 100%;
  background-color: rgb(71, 70, 191);
  box-sizing: border-box;
}
.top .description {
  font-size: 14px;
  line-height: 16.4px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.radio-group label .radio-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.radio-group label .radio-item .icon circle.outer {
  stroke: rgb(206, 206, 255);
}
.radio-group label .radio-item .icon circle.inner {
  stroke: transparent;
  fill: transparent;
}
.radio-group label .radio-item .title {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 17px;
  line-height: 19.5px;
  font-weight: 500;
  color: #ffffff;
}
.radio-group label input[type=radio] {
  display: none;
}
.radio-group label input[type=radio]:checked ~ .radio-item .icon circle.outer {
  stroke: rgb(0, 226, 145);
  transition: 0.3s;
}
.radio-group label input[type=radio]:checked ~ .radio-item .icon circle.inner {
  stroke: rgb(0, 226, 145);
  fill: rgb(0, 226, 145);
  transition: 0.3s;
}
.radio-group label + label {
  margin-top: 10px;
}

.copy-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgb(248, 248, 248);
}

.rate-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 255, 234);
  padding: 15px;
}
.rate-block .text {
  text-align: center;
  font-size: 17px;
  line-height: 19.9px;
  font-weight: 500;
  margin-bottom: 5px;
  width: calc(100% - 100px);
  flex-grow: 0;
  flex-shrink: 0;
}
.rate-block .star-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100px;
}
.rate-block .star-row .star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.rate-block .star-row .star svg path {
  fill: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.rate-block .star-row .star.hover svg path, .rate-block .star-row .star.active svg path {
  fill: rgb(255, 185, 33);
}
.rate-block .star-row .star.unhover svg path {
  fill: rgba(255, 255, 255, 0.5);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(50, 50, 168);
  padding: 15px;
}
.actions .buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.actions .buttons .button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.actions .buttons .button-wrap + .button-wrap {
  margin-left: 20px;
}
.actions .buttons .button-wrap .button-tip {
  font-size: 14px;
  line-height: 16.4px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.actions .response-error {
  display: none;
  font-size: 16px;
  line-height: 18.5px;
  color: #ef5350;
  margin-top: 10px;
}
.actions .response-error.show {
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(113, 186, 117);
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover, .btn:active {
  background-color: rgb(87, 146, 90);
}
.btn.copy-btn .icon {
  width: 15.5px;
  height: 18.5px;
}
.btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.btn .icon svg {
  width: 19px;
  height: auto;
}
.btn.screenshot-btn .icon {
  margin-bottom: -5px;
}
.btn .text {
  color: #ffffff;
  font-size: 17px;
  line-height: 20px;
  margin-left: 5px;
}

.content {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.content::-webkit-scrollbar-track {
  background: rgb(241, 241, 240);
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb {
  background: rgb(191, 191, 191);
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}

.hidden-content {
  display: none;
}

.hidden {
  display: none;
}/*# sourceMappingURL=sidepanel.css.map */