$white-color: #ffffff;

$blue1-color: rgba(71, 70, 191, 1);
$blue2-color: rgba(50, 50, 168, 1);

$blue1-btn-color: rgba(95, 94, 219, 1);
$blue2-btn-color: #4a4ab4;

$purple1-color: rgba(206, 206, 255, 1);

$green1-color: rgba(227, 255, 234, 1);
$green2-color: rgba(0, 226, 145, 1);

$green-btn1-color: rgba(113, 186, 117, 1);
$green-btn2-color: rgb(87, 146, 90);

$red-btn1-color: #FE6263;
$red-btn2-color: #d75353;

$grey1-color: rgba(255, 255, 255, 0.5);
$grey2-color: rgba(248, 248, 248, 1);

$yellow1-color: rgba(255, 185, 33, 1);

$error-red1-color: #ef5350;

$backdrop-color: rgba(0, 0, 0, 0.5);